.main-chat {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.avatar {
  width: 50px;
  border-radius: 50%;
}
.user {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid gray;
}
.username {
  margin-left: 10px;
}
.username p {
  color: white;
}
.username span {
  color: green;
  font-size: 14px;
}
.msg-input {
  display: flex;
  background-color: #16423C;
  padding: 10px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 12px;
  align-items: center;
}
.input-msg {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}
.file-icon {
  font-size: larger;
  cursor: pointer;
  color: #9f9f9f;
}
.send-btn {
  font-size: larger;
  cursor: pointer;
  color: green;
}
.chat-space {
  overflow-y: auto; 
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  height: calc(100% - 150px);
}
.chat-space::-webkit-scrollbar {
  display: none;
}
.msg-own, .new-msg {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 5px;
  padding: 0 15px;
}
.avatar-p {
  width: 27px;
  border-radius: 50%;
  padding: 5px;
}
.new-msg {
  flex-direction: row-reverse;
  justify-content: start;
}
.msg {
  color: white;
  background-color: #077EFF;
  padding: 8px;
  max-width: 200px;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 8px;
}
.new-msg .msg {
  border-radius: 8px 8px 8px 0;
}
.img-pic {
  max-width: 300px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.main-chat .chat-icon {
  width: 150px;
  align-self: center;
}
.select-user {
  font-size: larger;
  color: white;
  align-self: center;
}
.msg-time {
  font-size: 13px;
  color: #615f5f;
  margin-left: 2px;
}