.profile {
  padding: 10px 30px;
  color: white;
}
.profile-title {
  color: black;
  align-self: center;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  overflow: hidden;
}
.profile-top {
  display: flex;
}
.profile-top div {
  display: flex;
  flex-direction: column;
}

.images-s img {
  width: 150px;
}
.images-s {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bio {
  padding-top: 20px;
}
#bio-rows {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#bio-rows input {
  max-width: 250px;
  border: none;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
}
#bio-rows label {
  color: black;
}
.names {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.g-icon {
  font-size: 50px;
}


